@import "../../../styles/variables.module.scss";

.ChartCard {
  background-color: $light-gray;
  padding: 10px;
  border-radius: $border-radius-x;
  border: $gray-border-s;
  width: 450px;
  height: 230px;
}

@media screen and (max-width: 1024px) {
  .ChartCard {
    width: 280px;
    height: 200px;
    padding: 10px 0;
  }
}
