@import "../../styles/variables.module.scss";

.ControlPanel {
  display: grid;
  grid-template-columns: 400px 1fr;
  height: calc(100vh - 120px);
  background-color: $light-color;

  z-index: 900;
}
