@import "../../styles/variables.module.scss";

.ControlPanel {
  display: grid;
  grid-template-columns: 400px 1fr;
  height: calc(100vh - 120px);
  background-color: $light-color;

  z-index: 900;
}

@media screen and (max-width: 1024px) {
  .ControlPanel {
    grid-template-columns: 1fr;
    grid-template-rows: 240px 1fr;
  }
}

@media screen and (max-width: 767px) {
  .ControlPanel {
    padding-top: 16px;
    grid-area: main;
    grid-template-rows: 136px 1fr;
    height: calc(100vh - 76px);
  }
}
