@import "../../../../styles/variables.module.scss";

.ControlPanelDeviceCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  padding: 4px 8px;
  border: $gray-border-s;
  border-radius: $border-radius-x;
  background: $light-gray;
}

.ControlPanelDeviceCard__Header {
  margin: 0;
}

// Toggle switch
.ControlPanelDeviceCard__CheckboxLabel {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  cursor: pointer;
}

.ControlPanelDeviceCard__Checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}

.ControlPanelDeviceCard__CheckboxSlider {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $light-color;
  border-radius: $border-radius-x;
  box-shadow: $box-shadow-in-s;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.ControlPanelDeviceCard__CheckboxSlider::before {
  position: absolute;
  left: -1px;
  content: "";
  width: 22px;
  height: 22px;
  border: $gray-border-s;
  background: $dark-color;
  opacity: 0.5;
  border-radius: $border-radius-circle;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.ControlPanelDeviceCard__Checkbox:checked
  + .ControlPanelDeviceCard__CheckboxSlider {
  background-color: $dark-color;
}

.ControlPanelDeviceCard__Checkbox:checked
  + .ControlPanelDeviceCard__CheckboxSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: 1px;
  background: $light-color;
  opacity: 1;
}
