@import "../../../../styles/variables.module.scss";

.ControlPanelDeviceCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  padding: 4px 8px;
  border: $gray-border-s;
  border-radius: $border-radius-x;
  background: $light-gray;
}

.ControlPanelDeviceCard__Header {
  margin: 0;
}

@media screen and (max-width: 480px) {
  .ControlPanelDeviceCard {
    height: 50px;
  }
}
