@import "../../../../styles/variables.module.scss";

.ControlPanelUtilityCard {
  padding: 16px;
  width: 150px;
  height: 150px;
  display: grid;
  grid-template-rows: 40px 1fr;
  row-gap: 24px;
  align-items: center;
  color: $dark-color;
  background-color: $light-gray;
  border: $gray-border-s;
  border-radius: $border-radius-x;
}

.ControlPanelUtilityCard__Header {
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .ControlPanelUtilityCard__Header {
    display: none;
  }

  .ControlPanelUtilityCard {
    padding: 0;
    display: inline-block;
    background: transparent;
    box-shadow: none;
    border: none;
  }
}
